<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
	<div class="brand-sidebar">
	<h1 class="logo-wrapper">
	<a href="index.html" class="brand-logo darken-1">
	<img src="images/logo/materialize-logo.png" alt="materialize logo">
	<span class="logo-text hide-on-med-and-down">VS Network</span>
	</a>
	<a href="#" class="navbar-toggler">
	<i class="material-icons">radio_button_checked</i>
	</a>
	</h1>
	</div>

	<ul id="slide-out" class="side-nav fixed leftside-navigation">
		<li>	
			<a href="index.html" >
			<i class="material-icons">dashboard</i>
			<span class="nav-text">Trang Chính</span>
			</a>
		</li>

		<li class="li-hover">
			<p class="ultra-small margin more-text">Máy Chủ</p>
		</li>

		<li class="no-padding">
			<ul class="collapsible" data-collapsible="accordion">
			<li class="bold">
				<a class="collapsible-header  waves-effect waves-cyan">
					<i class="material-icons">gradient</i>
					<span class="nav-text">Thể Loại</span>
				</a>
				
				<div class="collapsible-body">
					<ul>  
						<li class="">
							<a href="mode/towny.html">
								<i class="material-icons">wb_sunny</i>
								<span>Towny Hardcore</span>
							</a>
						</li>

						<li class="">
							<a href="mode/skyblock.html">
								<i class="material-icons">wb_cloudy</i>
								<span>Skyblock</span>
							</a>
						</li>

						<li class="" >
							<a href="mode/bedwar.html">
								<i class="material-icons">hotel</i>
								<span class="nav-text">Bedwar</span>
							</a>
						</li>

					</ul>
				</div>
			</li>
			</ul>
		</li>

		<li class="" >
			<a href="server/status.html">
				<i class="material-icons">graphic_eq</i>
				<span class="nav-text">Trạng Thái</span>
			</a>
		</li>
		
		<li>	
			<a href="server/users.html" >
			<i class="material-icons">supervisor_account</i>
			<span class="nav-text">Danh Sách Thành Viên</span>
			</a>
		</li>

		<li class="no-padding">
			<ul class="collapsible" data-collapsible="accordion">
			<li class="bold">
				<a class="collapsible-header waves-effect waves-cyan">
					<i class="material-icons">block</i>
					<span class="nav-text">Danh Sách Phạm Lỗi</span>
				</a>

				<div class="collapsible-body">
					<ul>  
						<li class="">
							<a href="server/banlist.html">
								<i class="material-icons">do_not_disturb_alt</i>
								<span>Danh Sách Cấm</span>
							</a>
						</li>

						<li class="">
							<a href="server/kicklist.html">
								<i class="material-icons">clear</i>
								<span>Danh Sách Bị Đuổi</span>
							</a>
						</li>

						<li class="" >
							<a href="server/warnlist.html">
								<i class="material-icons">warning</i>
								<span>Danh Sách Bị Cảnh Báo</span>
							</a>
						</li>

						<li class="" >
							<a href="server/mutelist.html">
								<i class="material-icons">volume_off</i>
								<span>Danh Sách Bị Câm Lặng</span>
							</a>
						</li>

					</ul>
				</div>
			</li>
			</ul>
		</li>

		<li class="" >
			<a href="server/report.html">
				<i class="material-icons">warning</i>
				<span class="nav-text">Báo Cáo</span>
			</a>
		</li>

		<li class="" >
			<a href="server/donate.html">
				<i class="material-icons">attach_money</i>
				<span class="nav-text">Ủng Hộ</span>
			</a>
		</li>
	
		<li class="li-hover">
			<p class="ultra-small margin more-text">Thành Viên</p>
		</li>
		
		<li>	
			<a href="user/info.html" >
			<i class="material-icons">account_circle</i>
			<span class="nav-text">Hồ Sơ</span>
			</a>
		</li>

		<li>	
			<a href="user/donate.html" >
			<i class="material-icons">attach_money</i>
			<span class="nav-text">Số Tiền Đã Ủng Hộ</span>
			</a>
		</li>
		
		<li>
			<a href="user/statics.html" >
			<i class="material-icons">beenhere</i>
			<span class="nav-text">Thống Kê</span>
			</a>
		</li>

		<li>
			<a href="user/settings.html" >
			<i class="material-icons">settings</i>
			<span class="nav-text">Cài Đặt</span>
			</a>
		</li>
	</ul>
	
	<a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
	<i class="material-icons">menu</i>
	</a>
</aside>