﻿<header id="header" class="page-topbar">
<div class="navbar-fixed">
<nav class="navbar-color">
<div class="nav-wrapper">
	
	<ul class="right hide-on-med-and-down">
		
		<li>
			<a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
				<i class="material-icons">notifications_none
					<small class="notification-badge">5</small>
				</i>
			</a>
		</li>
		
		<li>
			<a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse">
				<span class="avatar-status avatar-online">
					<img src="
					<?php
						$email = getUserEmail($_SESSION['user']);
						echo gravatar($email);
					?>" alt="avatar">
				<i></i>
				</span>
			</a>
		</li>
	</ul>
	
	<!-- notifications-dropdown -->
	<ul id="notifications-dropdown" class="dropdown-content">
		<li>
			<h6>NOTIFICATIONS
				<span class="new badge">5</span>
			</h6>
		</li>
	
		<li class="divider"></li>
		
		<li>
			<a href="#!" class="grey-text text-darken-2">
			<span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
			<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
		</li>
		
		<li>
			<a href="#!" class="grey-text text-darken-2">
			<span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
			<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
		</li>
	
		<li>
			<a href="#!" class="grey-text text-darken-2">
			<span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
			<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
		</li>
		
	</ul>

</div>
</nav>
</div>
</header>